HELP.md
build/
!**/src/main/**
!**/src/test/**

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Gradle ###
.gradle
gradle/wrapper
gradlew
gradlew.bat


### Logs ###
*.log

### Config ###
auth.properties

.DS_Store
